.numberpad-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6vh;
  }
  
  .numberpad-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #2853d8;
    color: white;
    padding: 0 1vw;
  }
 
  .back-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
  }

  textarea:focus {
    outline: none;
    scroll-behavior: smooth;
  }
  
  .amount-display {
    font-size: 48px;
    color: blue;
    margin-bottom: 20px;
    height: 48vh;
    border: none;
    text-align: center;
    overflow-wrap: break-word; 
    white-space: normal; 
    max-width: 15vw;
    resize: none;
    overflow: hidden;
    
  } 

  .numberpad-content{
    display: flex;
    flex-direction: column;
    justify-content: "flex-start";
    width: 100%;
    height: 7vh;
    border-top:2px grey solid;
    border-bottom:2px grey solid;
  }
